

body {
	font-size: 67.5%;
	font-family: 'Lato', sans-serif; 
	padding: 0;
	margin: 0;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	-o-background-size: 100% 100%;
	max-width: 100%;
	overflow-x: hidden;
	background-color: lightblue;
}



.mainNav {
	background-color: #47b0d2;
	z-index: 2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 175%;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: lightblue;
    color: white;
}

#footer {
	font-size: 50%;
}


img {
	width: 500px;
	margin-left: 205px;
	z-index: 1;
	bottom: -500px;
}

#mainImage {
	position: relative;
	width: 1700px;
	margin: 0;
	padding: 0;
	top: -20px;
	z-index: 0;
}

#main h1{
	font-size: 700%;
	position: relative;
	text-align: center;
	top: -920px;
	right: -100px;
	color: #353d3f;
	margin: auto;
	padding: 10px;
}	

#main h3{
	font-size: 500%;
	position: relative;
	text-align: center;
	top: -920px;
	right: -100px;
	color: white;
	background-color: #47b0d2;
	z-index: 1;
	width: 700px;
	margin:auto;
	border-bottom: 10px solid lightblue;
	padding: 10px;

}

#main h5{
	font-size: 200%;
	position: relative;
	text-align: center;
	top: -920px;
	right: -100px;
	margin: auto;
	padding: 10px;
}

#explore:link, #explore:visited{
	color:black;
	/*text-decoration: none;*/
}

#explore:hover{
	color:white;
}

.flex-container{
	/*display: flex;*/
	display: inline-block;
	width: 83.75%;
	background-color: white;
	/*flex-direction: column;*/
	margin-left: 205px;
	/*float:center;*/

}























